<header>
    <div
      id="carouselExampleInterval"
      class="carousel slide"
      data-bs-ride="carousel"
      style="width: 100%"
    >
      <div
        class="carousel-indicators rounded-pill center"
        style="
          background-color: rgba(255, 255, 255, 0.4);
          width: fit-content;
          margin: auto;
          padding: 0px 5px;
        "
      >
        <div
          class="active"
          style="
            border-radius: 50%;
            width: 0.5rem;
            height: 0.5rem;
            background-color: black;
          "
          aria-current="true"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide-to="0"
        ></div>
        <div
          style="
            border-radius: 50%;
            width: 0.5rem;
            height: 0.5rem;
            background-color: black;
          "
          aria-current="true"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide-to="1"
        ></div>
        <div
          style="
            border-radius: 50%;
            width: 0.5rem;
            height: 0.5rem;
            background-color: black;
          "
          aria-current="true"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide-to="2"
        ></div>
        <div
          style="
            border-radius: 50%;
            width: 0.5rem;
            height: 0.5rem;
            background-color: black;
          "
          aria-current="true"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide-to="3"
        ></div>
        <div
          style="
            border-radius: 50%;
            width: 0.5rem;
            height: 0.5rem;
            background-color: black;
          "
          aria-current="true"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide-to="4"
        ></div>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="1500">
          <img
            src="https://www.boat-lifestyle.com/cdn/shop/files/Artboard_2_c51d0ad3-c3a0-4981-b7bd-17a136809fe4_1440x.jpg?v=1726849779img"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
          <img
            src="https://www.boat-lifestyle.com/cdn/shop/files/FK-2_1440x.jpg?v=1726059667"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
          <img
            src="https://www.boat-lifestyle.com/cdn/shop/files/ION_Banner_WEB_1440x.jpg?v=1726225660"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
          <img
            src="https://www.boat-lifestyle.com/cdn/shop/files/Frame_33_1_1440x.png?v=1726842272"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item" data-bs-interval="1500">
          <img
            src="https://www.boat-lifestyle.com/cdn/shop/files/IVY_DESK_1440x.png?v=1725598840"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <div
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev"
      >
        <div
          class="rounded-pill"
          style="
            padding: 0.6rem 0.8rem;
            box-shadow: 0px 0px 1px white;
            background-color: black;
          "
        >
          <i class="bi bi-chevron-left"></i>
          <span class="visually-hidden">Previous</span>
        </div>
      </div>
      <div
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide="next"
      >
        <div
          class="rounded-pill"
          style="
            background-color: black;
            padding: 0.6rem 0.8rem;
            box-shadow: 0px 0px 1px white;
          "
        >
          <i class="bi bi-chevron-right" style="border: white"></i>
        </div>
        <span class="visually-hidden">Next</span>
      </div>
    </div>
  
    <div
      class="row"
      style="
        width: 100%;
        padding: auto;
        margin: auto;
        background-color: #eff4f7;
        align-items: center;
        justify-content: space-around;
      "
    >
      <div class="col-sm">
        <img
          src="https://www.boat-lifestyle.com/cdn/shop/files/Group_334305_small.svg?v=1682336123"
          width="58"
          height="58"
          alt=""
          style="float: left; margin-left: 30%"
        />
        <p
          style="
            text-align: left;
            margin-top: 0.7rem;
            height: 100%;
            font-size: 0.8rem;
          "
        >
          <span style="font-weight: bolder"> 1 Year </span><br />
          Waranty
        </p>
      </div>
      <div class="col-sm">
        <img
          src="https://www.boat-lifestyle.com/cdn/shop/files/Group_334304_small.svg?v=1682336123"
          width="58"
          height="58"
          alt=""
          style="float: left; margin-left: 30%"
        />
        <p
          style="
            text-align: left;
            margin-top: 0.7rem;
            height: 100%;
            font-size: 0.8rem;
          "
        >
          <span style="font-weight: bolder">7-day</span>
          <br />
          Replacement
        </p>
      </div>
      <div class="col-sm">
        <img
          src="https://www.boat-lifestyle.com/cdn/shop/files/Group_334303_small.svg?v=1682336123"
          width="58"
          height="58"
          alt=""
          style="float: left; margin-left: 30%"
        />
        <p
          style="
            text-align: left;
            margin-top: 0.7rem;
            height: 100%;
            font-size: 0.8rem;
          "
        >
          <span style="font-weight: bolder">Free Express </span><br />
          Delivery*
        </p>
      </div>
      <div class="col-sm">
        <img
          src="https://www.boat-lifestyle.com/cdn/shop/files/Group_334302_small.svg?v=1682336123"
          width="58"
          height="58"
          alt=""
          style="float: left; margin-left: 30%"
        />
        <p
          style="
            text-align: left;
            margin-top: 0.7rem;
            height: 100%;
            font-size: 0.8rem;
          "
        >
          <span style="font-weight: bolder"> GST</span><br />
          Billing
        </p>
      </div>
    </div>
  </header>
  <div class="container-fluid" style="width: 100%; padding: 2rem 1rem 2rem 1rem">
    <div style="display: flex; justify-content: space-between">
      <p class="h3">
        Monsoon
        <strong>Fe<u style="text-decoration-color: red">st</u></strong>
      </p>
      <p style="color: #2f5b96; text-align: right; font-weight: bold">
        View All
        <i class="bi bi-arrow-right-circle"></i>
      </p>
    </div>
    <img
      src="https://www.boat-lifestyle.com/cdn/shop/files/Strip_Desktop_1708be69-55ea-4c05-87c7-c19b22eaeb48_1600x.png?v=1726852726"
      alt=""
      width="100%"
      style="border-radius: 1rem"
    />
    <br />
    <br />
  </div>
  <app-display-product></app-display-product>
    <app-category></app-category>
    <app-bestseller></app-bestseller>
  